<link href="css/concept.css" rel="stylesheet" type="text/css"/>
            <section id="background">
            <div id="title">
                    <h1>Concept</h1>
                </div>
                <br>
                <br>
                <section id="home-pagev2">
    <table border="0">
        <tr>
            <td colspan="1" ><img src="../images/homepage/hp6.png"  alt="Mountain View" style="width:400x;height:400px;"></td>
            <td colspan="2"><h1>This is Rally Festival, where people all over the world are going to join this adventure and travel around the world with their vehicles. To get to the destination, drivers must choose and prepare their own vehicle to handle desert, Ice, hills and water.</h1></td>
        </tr>
        <tr>
            <td colspan="3"><h1>For the first destination, drivers will start with an iconic “Mini”, where they have to drive through some obstacles. The challenge here is for the driver get used to the path and learn how to get the best score.
            After arriving the first destination, drivers will receive a score and they have the chance to modify the car or by another one with the money they earn. </h1></td>
            <td ><img src="../images/homepage/hp7.png"  alt="Mountain View" style="width:400x;height:400px;"></td>
        </tr>
        <tr>
        <td ><img src="../images/homepage/hp4.png"  alt="Mountain View" style="width:400x;height:400px;"></td>
            <td colspan="0"><h1>Now the drivers know how everything works, the second destination is about small hills at rain forest. Drivers have to practice their hill climbing skills with the car to be able to get to the destination. This is not easy but it’s possible.</h1></td>
            </tr>
            <tr>
            <td colspan="3"><h1>It’s getting harder... <br>
            Knowing that the next destination is to climb an mountain that may contain some snow, drivers have to prepare the car for this challenge. Otherwise it will be impossible. </h1></td>
            <td ><img src="../images/homepage/hp1.png"  alt="Mountain View" style="width:400x;height:400px;"></td>
        </tr>
        <tr>
        <td ><img src="../images/homepage/hp2.png"  alt="Mountain View" style="width:400x;height:400px;"></td>
            <td colspan="0"><h1>For the rest of the challenges, we are going to keep it secret, there is going to be a lot of surprise! <br>
           <strong> Sign-up for this Adventure!</strong><br>
            Show yours friends who has the best skills!
           </h1></td>
            </tr>
            <tr>
    </table>
</section>
                <!--<div class="sombra_no_topo"></div>
                    <div class="concept">
                    <img src="images/concept/concept1.png" class="conceito">
                    <img src="images/concept/concept2.png" class="conceito">
                    <img src="images/concept/concept3.png" class="conceito">
                    <img src="images/concept/concept4.png" class="conceito">
                    <img src="images/concept/concept5.png" class="conceito">
                    <img src="images/concept/concept6.png" class="conceito">
                    <img src="images/concept/concept7.png" class="conceito">
                    <img src="images/concept/concept8.png" class="conceito">
                    <img src="images/concept/concept9.png" class="conceito">
                    <img src="images/concept/concept10.png" class="conceito">
                    <img src="images/concept/concept11.png" class="conceito">
                    <img src="images/concept/concept12.png" class="conceito">
                    <img src="images/concept/concept13.png" class="conceito">
                    <img src="images/concept/concept14.png" class="conceito">
                    <img src="images/concept/concept15.png" class="conceito">
                    <img src="images/concept/concept16.png" class="conceito">
                    <img src="images/concept/concept17.png" class="conceito">
                    <img src="images/concept/concept18.png" class="conceito">
                    </div>-->
            </section>
            