            <link href="css/register.css" rel="stylesheet" type="text/css"/>
            <section id="background">
                <div class="background">
                    <form action ="/post" method = "post">
                      <h4> News Post</h4><br/>
                          <input type="text" placeholder="Title" name="title"><br>
                          <textarea rows="20" cols="63" name="link" placeholder="content max:1000chars">/</textarea>
                          <br>
                      <button class="button button1" type="submit" value ="submit">
                    </form>
                </div>
            </section>