* {
  margin: 0;
  padding: 0;
}
@font-face {
    font-family: efont;
     src:url("../font/Pacifico.ttf");
}
header {
	background: transparent;
	width: 100%;
	left: 0;
	top: 20px;
	z-index: 1;/*para ficar por cima do background*/
	position: absolute;
}

.menu {
	width: auto;
	height: 75px;
	position: relative;
}
html, body {
	height: 100%;
		width: 100%;
}
body {
	background:url(../image/Background3.png);
	font-family:efont;
	font-size: 20px;
	line-height: 50px;
}
.concept{
	text-align: center;
	margin: auto;
	margin-top: 50px;
}
.conceito{
	height: auto; 
    width: auto; 
    max-width: 1000px; 
    max-height: 1000px;
}
.button,
button,
input[type="button"],
input[type="submit"]{
	display: auto;
	border-radius: 20px;
}

button.stroke, .button.stroke {
	background: transparent;
	border: 3px solid transparent;
}

}
#menu_nav, .menu_main {
	margin: 0;
	padding: 0;
}
#menu_nav {
	font-family: efont;
	font-size: 18px;
	letter-spacing: 2px;
	position: absolute;
	top: 0;
	right: 30px;
}
.menu_main {
	min-height: 66px;
	display: inline-block;
	width: auto;
	text-align: left;
}
.menu_main li {
	position: relative;
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0;
	height: 66px;
}
.menu_main li.current a {
	color: #FFFFFF;
}
.menu_main li.current a::after {
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 80%;
	height: 3px;
	transform: translateX(-50%);
	background-color: black;
	content: '\0020';
	display: block;
	
}
.menu_main li.login a {
	color: white;
	text-shadow: 0px 0px 50px rgba(0, 0, 0, 0.8);
}

.menu_main li.bar a {
	position: relative;
	padding-left: 22px;
	margin-left: 8px;
}
.menu_main li.bar a::before {
	position: absolute;
	left: 0;
	top: 50%;
	width: 1px;
	height: 20px;
	margin-top: -10px;
	background-color: #B63A40;
	content: '\0020'; /*barra de separacao do header*/
	display: block;
	
}

/* navigation links */
.menu_main li a {
	display: block;
	padding: 18px 7px;
	line-height: 30px;
	text-decoration: none;
	text-align: left;
	color: #B63A40;
	position: relative;
}
.menu_main li a:active {
	background-color: transparent;
	color: white;
}
.menu_main li a:hover {
	color: white;
	text-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
}
.menu_main li.login a:hover {
	color: #B63A40;
	text-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
}
/*home page element*/
#home-page {
	background:url(../image/logoTRT.png) , url(../image/homepage/hp1.png), url(../image/homepage/hp2.png), url(../image/homepage/hp3.png),url(../image/homepage/hp4.png);
	background-size: 60%,15%,15%,15%,15%;
	background-repeat: no-repeat;
	background-position: center,right bottom 10%, left 30%, right 30%, left bottom 10%;
	width: 100%;
	height: 100%;
	min-height: 720px;
	display: table;
	
	position: relative;
}
.sombra_no_topo { /*Mancha para a sombra*/
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.15) 25%, transparent 56%);  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.homepage {
	display: table-cell;
	vertical-align: bottom;
	text-align: center;
	transform: translateY(-2%);
}
.homepage .button {
	border-color: #B63A40;
	color:  #B63A40;
	text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
	padding: 10px;
	font-family:efont;
	font-size: 30px;
	/*text-transform: uppercase;*/
	letter-spacing: 5px;
	text-decoration: none;
}
.homepage .button:hover, .intro-content .button:focus {
	color: #ffffff;
	border-color: #ffffff;
	text-decoration: none;
}
.button {
	font-family: efont;
    background-color: #05bca9; /* Yellow */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    width:100%;
}

.button1 {
    background-color: transparent; 
    color: #B63A40; 
    border: 2px solid #B63A40;
}
.button1:hover {
	color: white;
    background-color:  #B63A40;
    border: 2px solid white;
    box-shadow: 0 0px 16px 0 rgba(0, 0, 0, 0.8),0 0 50px 0 rgba(0, 0, 0, 0.5);
}
#demitovr {
	background-color: transparent;
	z-index: -1;
	margin: auto;
	height:auto;
}
.box {
	float: left;
	width: 250px;
	height: 250px;
	margin: 15px 15px;
	background-color: white;
	border-radius: 5px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    border-radius: 15px;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    min-width: 250px;

}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#title{
	font-family: efont;
	color: white;
	text-align: center;
	font-size: 40px;
	margin: auto;
	height:auto;
	color: #B63A40;
	text-shadow: 0px 0px 20px rgba(255, 255, 255, 1),0px 0px 50px rgba(255, 255, 255, 1);
}

input[type="username"]{
	font-family: efont;
	font-size: 16px;
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type="password"]{
	font-family: efont;
	font-size: 16px;
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;    
}
input[type="email"]{
	font-family: efont;
	font-size: 16px;
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
input[type="text"]{
	font-family: efont;
	font-size: 16px;
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[value="Play!"]{
	font-family: efont;
	font-size: 16px;
	width: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
input[value="Concept"]{
	font-family: efont;
	font-size: 16px;
	width: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

form{
	font-family: efont;
	font-size: 16px;
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    min-width: 220px;
}
